Solve the problem step by step and place the final answer in the \\boxed{Final Answer}.

For example, if the answer to the problem was \sqrt{\pi}, your answer should look like this: \\boxed{\sqrt{\pi}}

Now it's your turn to solve this problem.

PROBLEM:
{{ task }}

YOUR SOLUTION: